*{
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/Header_Home_Desktop.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

img {
  margin-top: 50px;
  margin-left: 180px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size:70px;
  margin-bottom: 20px;
}

p{
  font-family: "Proxima Nova", sans-serif;
  color: #B0B0B0;
}

ul{
  margin-left: 600px;
  position: relative;
  bottom: 40px;
}

li {
  display: inline;
  padding: 20px;
  font-family: "Proxima Nova", sans-serif;
  color: white;
  font-size: 11px;

}
span{
  color: #ff6600;
}

input {
  color: orange;
}



.bottomtxt{
  margin-bottom: 20px;
}
.earning-btn1{
  font-family: "Proxima Nova", sans-serif;
  border-radius: 8px;
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: #ff6600;
  padding: 7px 20px 7px 20px;
  font-size: 11px;
}
.earning-btn2{
  font-family: "Proxima Nova", sans-serif;
  border-radius: 8px;
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: #ff6600;
  padding: 7px 30px 7px 30px;
  font-size: 11px;
}

.moreinfo{
  font-family: "Proxima Nova", sans-serif;
  border-radius: 8px;
  background-color: white;
  color: #ff6600;
  border-style: solid;
  border-color: #ff6600;
  margin-left: 10px;
  padding: 7px 50px 7px 50px;

}



.text{
  margin-top: 200px;
  margin-left: 180px;
}
